@value breakpoints: '../../components/breakpoints.css';
@value tablet-up, phone-l from breakpoints;
@value tokens: '../../components/tokens.css';
@value colorBorder, colorBorderProminent, colorBackground, colorText, fontSizeProminent, fontWeight, fontSizeProminent, colorBackgroundProminent from tokens;

@value hPaddingDesktop: 40px;
@value hPaddingMobile: 25px;

.post {
  background-color: colorBackground;
  color: colorText;
  padding: 30px hPaddingMobile;
  margin-bottom: 32px;
}

@media tablet-up {
  .post {
    padding: 30px hPaddingDesktop;
  }
}

.postBody {
  display: flex;
  padding-top: 32px;
  padding-bottom: 24px;
  flex-direction: column;
}

@media phone-l-up {
  .postBody {
    padding: 38px 0;
  }
}

@media tablet-up {
  .postBody {
    flex-direction: row;
  }
}

.postIntro {
  margin-top: 12px;
}
.postIntro > h1 {
  font-weight: 500;
}

.postPreamble {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.postHeadline {
  margin-bottom: 1.45em;
}

.postIngredients {
  flex: 1;
  min-width: 250px;
}

@media tablet-up {
  .postIngredients {
    border-right: 1px solid colorBorderProminent;
    padding-right: 40px;
  }
}

.postIngredients > h2 {
  font-weight: 500;
}

.postIngredients > h3 {
  font-weight: 500;
  margin-top: 1.45rem;
}

.postIngredients > ul li:last-child {
  margin-bottom: 0;
}

.postDirections {
  flex: 3;
  margin-top: 32px;
}

.postDirections > h2,
.postDirections > h3 {
  font-weight: 500;
}

@media tablet-up {
  .postDirections {
    padding-left: 40px;
    margin-top: 0;
  }
}

.postTitle {
  color: colorText;
  font-weight: fontWeight;
  font-size: fontSizeProminent;
  margin-top: 6px;
}

@media tablet-up {
  .postTitle {
    font-size: 48px;
  }
}

.postTags {
  margin-bottom: 15px;
}

.postTag {
  margin-right: 8px;
  margin-bottom: 15px;
}

.footer {
  border-top: 1px solid colorBorder;
  padding-top: 20px;
}

.header {
  position: sticky;
  top: 0;
  height: 300px;
}

.pageBlock {
  position: relative;
  z-index: 1;
}

.wrapper {
  composes: pageBlock;
  background: colorBackgroundProminent;
}

.coverImage {
  height: 300px;
}

@media tablet-up {
  .coverImage {
    height: 500px;
  }
}
