@value tablet-down from '../breakpoints.css';
@value colors: '../palette.css';
@value grey2, grey3, grey4 from colors;

.breadcrumbs {
  list-style: none;
  margin: 0 20px 0 0;
}

.breadcrumbItem {
  color: grey4;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  white-space: nowrap;
}

.breadcrumbItem:not(:first-child):before {
  content: "/";
  font-size: 19px;
  padding: 0 10px;
}

@media (prefers-color-scheme: dark) {
  .breadcrumbItem:not(:first-child):before {
    color: grey2;
  }
}

.breadcrumbLink {
  color: grey4;
  text-decoration: none;
}
.breadcrumbLink:hover {
  text-decoration: underline
}

.breadcrumbLink:active {
  color: grey3;
}

@media (prefers-color-scheme: dark) {
  .breadcrumbLink:active {
    color: grey2;
  }
}

.breadcrumbHomepageText {
  display: block;
}

@media tablet-down {
  .breadcrumbHomepageText {
    display: none;
  }
}

.breadcrumbHomepageLogo {
  display: none;
}

@media tablet-down {
  .breadcrumbHomepageLogo {
    display: block;
  }

  .breadcrumbHomepageLogo .svgLogo {
    height: 34px;
    vertical-align: middle;
    margin-bottom: 3px;
  }
}
