@value tokens: '../tokens.css';
@value fontSize, colorText from tokens;

.contentHeader {
  font-size: fontSize;
  margin: 20px 20px 0;
}

.contentTitle {
  /* color: colorText; */
  font-size: fontSize;
  text-decoration: none;
  margin: 12px 0;
  font-weight: 500;
}

.contentSummary {
  margin: 20px 0;
}
