@value colors: '../palette.css';
@value tokens: '../tokens.css';
@value blue, grey1, grey2, grey5, grey6, white from colors;
@value postCardTextColor, postCardBackground from tokens;

.card {
  background: postCardBackground;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  color: postCardTextColor;
}

.content {
  display: flex;
}


