@value tokens: '../tokens.css';
@value colorBackground, colorText from tokens;

.card {
  background: colorBackground;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  color: colorText;
}

.content {
  display: flex;
}


