@value tablet-down from '../breakpoints.css';
@value colors: '../palette.css';
@value tokens: '../tokens.css';
@value grey4, grey6, orange1, orange2, orange3 from colors;
@value menuTextColor, menuTextSize, menuTextColorHover from tokens;

.navbar {
  padding: 3px 6px;
  position: relative;
  display: flex;
  width: 100%;
}

@media tablet-down {
  .navbar {
    width: auto;
  }
}

.navbarCategories {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media tablet-down {
  .navbarCategories {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: initial;
    justify-content: initial;
    top: 56px;
    right: 0px;
    z-index: 1;
    width: 45vw;
  }

  .navbarCategories.expanded {
    display: flex;
  }
}

@media phone-l-down {
  .navbarCategories {
    width: 100vw;
  }
}

.navbarLink {
  color: menuTextColor;
  display: inline-block;
  font-size: menuTextSize;
  font-weight: 600;
  margin: 0 6px;
  padding: 20px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbarLink:hover {
  text-decoration: underline;
  color: menuTextColorHover;
}

.navbarLink:active {
  color: grey4;
}

@media tablet-down {
  .navbarLink {
    display: inline-block;
    background-color: orange2;
    border-bottom: 2px solid orange1;
    padding: 14px 0;
    text-align: center;
    text-shadow: none;
  }

  .navbarLink:last-child {
    border-bottom: none;
  }

  .navbarLink:hover,
  .navbarLink:active {
    background-color: orange1;
    text-decoration: none;
  }
}

.navbarLogoLink {
  composes: navbarLink;
  margin: -3px 9px 0 9px;
  padding: 0;
  vertical-align: baseline;
}

@media tablet-down {
  .navbarLogoLink {
    margin: 0 6px;
    padding: 4px 0;
  }
}

.navbarLogoLink svg {
  height: 42px;
  vertical-align: middle;
}

.navbarMenuIcon {
  display: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

@media tablet-down {
  .navbarMenuIcon {
    display: inline-block;
    margin: 0 6px;
    padding: 14px 8px 0 8px;
  }
}

.iconMenu {
  vertical-align: baseline;
}

.hidden {
  display: none;
}

.navbarMenuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
