@value tablet-up from '../breakpoints.css';
@value colors: '../palette.css';
@value blue, grey1, grey5, brand-orange, orange3 from colors;

.footer {
  background-color: brand-orange;
  border-top: 1px solid grey1;
  color: grey5;
  margin-top: 50px;
  padding: 50px 0;
  position: relative;
  text-shadow: 0 1px 0 orange3;
  font-weight: 600;
}

@media tablet-up {
  .footer {
    margin-top: 120px;
  }
}

.inner {
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

@supports (clip-path: polygon(0% 0%, 100% 100%)) {
  .footer:after {
    bottom: 0;
    color: rgba(255, 255, 255, 0.2);
    content: "";
    transform: scale(-1, -1);
  }
}

@supports (border-left: 100vw solid transparent) {
  .footer::before {
    content: "";
    height: 0;
    display: block;
    width: 0;
    pointer-events: none;
    position: absolute;
    border-bottom: 50px solid brand-orange;
    border-right: 100vw solid transparent;
    top: -50px;
  }

  @media tablet-up {
    .footer::before {
      border-bottom-width: 130px;
      top: -130px;
    }
  }
}
