@value tablet-up from '../breakpoints.css';
@value colors: '../palette.css';
@value blue, grey1, grey5, brand-orange, orange3 from colors;

.footer {
  border-top: 1px solid grey1;
  color: grey5;
  margin-top: 50px;
  padding: 50px 0;
  position: relative;
  font-weight: 600;
}

@media tablet-up {
  .footer {
    margin-top: 120px;
  }
}

.inner {
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
