@value tablet-up from '../breakpoints.css';
@value colors: '../palette.css';
@value tokens: '../tokens.css';
@value colorBorder from tokens;

.footer {
  border-top: 1px solid colorBorder;
  margin-top: 50px;
  padding: 50px 0;
  position: relative;
  font-weight: 600;
}

@media tablet-up {
  .footer {
    margin-top: 120px;
  }
}

.inner {
  padding: 0 20px;
  position: relative;
}
