:root {
    --color-background: #fefefe;
    --color-background-prominent: #ddd;
    --color-text: #333;
    --color-border: #ddd;
    --color-border-prominent: #b6a99b;

    --font-size: 16px;
    --font-size-prominent: 36px;
    --font-size-navigation: var(--font-size);

    --font-weight: 300;

    --color-action: #333;
    --color-action-hover: #333;
    --color-navigation: #565656;
    --color-navigation-hover: #333;
    --color-navigation-active: #111;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #333;
        --color-text: #fefefe;

        --color-action: #333;
        --color-action-hover: #333;

        --color-navigation: #ccc;
        --color-navigation-hover: #dedede;
    }
}

@value colorBackground: var(--color-background);
@value colorBackgroundProminent: var(--color-background-prominent);
@value colorText: var(--color-text);
@value colorBorder: var(--color-border);
@value colorBorderProminent: var(--color-border-prominent);

@value fontSize: var(--font-size);
@value fontSizeProminent: var(--font-size-prominent);
@value fontSizeNavigation: var(--font-size-navigation);

@value fontWeight: var(--font-weight);

@value colorAction: var(--color-action);
@value colorActionHover: var(--color-action-hover);
@value colorNavigation: var(--color-navigation);
@value colorNavigationHover: var(--color-navigation-hover);
@value colorNavigationActive: var(--color-navigation-active);
