@value breakpoints: '../breakpoints.css';
@value phone-l-up, tablet-up from breakpoints;
@value colors: '../palette.css';
@value brand-orange, grey6 from colors;
@value line-color: rgba(255, 255, 255, 0.75);

.logo {
  max-height: 80px;
  opacity: 0.8;
  margin-top: 2px;
  margin-bottom: 2px;
  position: relative;
  z-index: 1;
}

@media phone-l-up {
  .logo {
    max-height: 100px;
  }
}

@media tablet-up {
  .logo {
    max-height: 140px;
  }
}

.logoLink {
  display: block;
  width: 300px;
  margin: auto;
}

.subsectionHeadingWrapper {
  padding-bottom: 30px;
  max-width: 1220px;
  margin: 0 auto;
}

@media tablet-up {
  .subsectionHeadingWrapper {
    padding-bottom: 50px;
  }
}

.subsectionHeading {
  font-size: 40px;
  text-transform: uppercase;
  color: grey6;
  padding: 50px 10px 16px 10px;
  letter-spacing: 0.15em;
  font-weight: 400;
  hyphens: auto;
}

@media phone-l-up {
  .subsectionHeading {
    padding: 50px 22px 16px 22px;
  }
}

@media tablet-up {
  .subsectionHeading {
    bottom: 68px;
  }
}

